body {
    margin: 15%;
    font-size: 1.5rem;
}

@media (max-width: 780px) {
    body {
        font-size: 1.2rem;
        margin: 10%;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 1.0rem;
        margin: 5%;
    }
}

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

footer {
    font-size: 1.0rem;
}