body {
    margin: 10em;
    font-size: 1.5rem;
}

@media (max-width: 30em) {
    body {
        font-size: 1.0rem;
        margin: 1em;
    }
}

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}

footer {
    font-size: 1.0rem;
}